@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos básicos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Cores padrões */
:root {
    --cor-principal: #037009;
    --cor-body: #fafcfc;
    --cor-box: #f2f0f0;
}

/* Header */
header {
    background-color: var(--cor-principal);
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.logo img {
    height: 48px;
    max-width: 100%;
}

/* Menu */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--cor-body);
    font-size: 16px;
    font-weight: 400;
}

/* Botão hamburguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px; /* Ajuste a posição de acordo com a altura do header */
        right: 0;
        left: 0;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        z-index: 10;
        overflow: hidden;
        height: 0;
        transition: height 0.5s ease;
    }

    .navbar ul {
        flex-direction: column;
        gap: 16px;
    }

    .navbar.show {
        display: flex;
        height: 100vh;
        
    }

    body.no-scroll {
        overflow: hidden;
        
    }
}


