@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Estilos básicos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/* Cores padrões */
:root {
    --cor-principal: #037009;
    --cor-body: #fafcfc;
    --cor-box: #f2f0f0;
}

/* Header */
header {
    background-color: var(--cor-principal);
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.logo img {
    height: 48px;
    max-width: 100%;
}

/* Menu */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--cor-body);
    font-size: 16px;
    font-weight: 400;
}

/* Botão hamburguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(11.7px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-11.7px) rotate(-45deg);
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .menu-toggle  {
        display: flex;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px; /* Ajuste a posição de acordo com a altura do header */
        right: 0;
        left: 0;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        z-index: 10;
        overflow: hidden;
        height: 0;
        transition: height 0.5s ease;
    }

    .navbar ul {
        flex-direction: column;
        gap: 16px;
        text-decoration: none;
    }

    .navbar.show {
        display: flex;
        height: 100vh;
        
    }

    body.no-scroll {
        overflow: hidden;
        
    }

    .footer-mobile {
        display: none;
        margin: auto 0 60px;
        
    }   
}


    /* Footer responsivo */
   
    
    
   footer {
    background-color: var(--cor-box);
   }

   .footer-logo p{
    width: 400px;
    padding-left: 8px;
   }

   .midias ul li {
    display: inline;
    font-size: 2rem;
    color: var(--cor-principal);
    margin: 0 8px;
   }

   .midias ul li i{
    cursor: pointer;
    list-style: none;
    transition: all 0.4s;
   }

   .midias ul li i:hover {
    opacity: 0.8;
   }


   .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px;
   }

   .footer-content ul li {
    list-style: none;
    padding: 6px;
   }
   
   .footer-content a{
    text-decoration: none;
    color:#000000;
   }

   .footer-content h4 {
    padding:8px;
   }

   .footer-pagamento ul li {
    display: inline;
    
   }


   .footer-pagamento img{
    max-width: 65px;
   }

   .copy {
    background-color: var(--cor-principal);
    color: var(--cor-box);
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 8px 0;
   }

   .copy p a{
    text-decoration: none;
    color: var(--cor-box);
   }

   .copy p a:hover {
    opacity: 0.8;
    transition: all 0.4s;
   }

   @media screen and (max-width: 768px) {
    .footer-content {
        grid-template-columns: none;
    }
    
}

.container-slide {
    
}

.slide-image {
   height: 600px;
}

.slide-image img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;      
}